:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  
}

@media (prefers-color-scheme: light) {
  :root {

  --background-color:#f4f4f4;
  --primary-accent-color:#8657d3;
  --secondary-accent-color:#0081CF;
  --highlight-color:#B39CD0;
  --hover-color:#FBEAFF;
  --press-color:#296073;
  --outline-color:#0081CF;
  --text-color:rgb(21, 21, 21);
  --label-color:rgb(40,40,40);
  --tertiary-accent-color:#a1dbff;
  --text-color-control:#fafafa;
  --overflow-color:#d0d0d0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:rgba(63, 63, 63, 0.87);
    --primary-accent-color:#4e1f9a;
    --secondary-accent-color:#0081CF;
    --highlight-color:#7847b5;
    --hover-color:#FBEAFF;
    --press-color:#296073;
    --outline-color:#0081CF;
    --text-color:rgb(222, 222, 222);
    --label-color:rgb(202, 202, 202);
    --tertiary-accent-color:#a1dbff;
    --text-color-control:#cccccc;
    --overflow-color:#000000;
    }
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--overflow-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--press-color);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	box-sizing: border-box;
  color:var(--text-color);
  background-color: var(--background-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: 100%;
  width: 100%;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--outline-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--outline-color);
}
button:active {
  background-color: var(--press-color);
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--primary-accent-color);
	margin: 1em 0;
	padding: 0;
}
