@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  
}

:root [data-theme='modern'] {
  --radii-default: 1px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--overflow-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--press-color);
}

html, body {
	position: relative;
	width: 100%;
  height: 100vh;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: 100%;
  width: 100%;
}


hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 1em 0;
	padding: 0;
}
